.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100%;

  background-color: #09290d;

  z-index: 5000;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.sidebar-header {
  padding: 15px 20px 15px 106px;
  background-color: #09290d;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 2px solid #021a05;
  filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.2));
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 2px solid #e6cca0;
  border-radius: 16px;
  background-color: white;
  font-size: 14px;
  color: #c24509;
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s;
}

.search-input:focus {
  border-color: #c24509;
  box-shadow: 0 0 0 3px rgba(194, 69, 9, 0.1);
}

.search-input.placeholder {
  color: inherit;
  opacity: 0.7;
}

.sidebar-list {
  padding: 15px;
}

.shop-card {
  background-color: #fff9ed;

  border: 2px solid #c24509;

  padding: 15px;
  margin-bottom: 12px;
  border-radius: 16px;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;

  color: #073b11;
}

.shop-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 0 #c24509;
}

.shop-card h4 {
  margin: 0 0 5px 0;
  font-size: 18px;
  color: #073b11;
}

.shop-address {
  color: #4a3b22;
  font-size: 14px;
  margin: 5px 0 10px 0;
}

.shop-category {
  display: inline-block;
  background-color: #c24509;
  color: white;

  font-size: 11px;
  padding: 4px 10px;
  border-radius: 20px;
  font-weight: bold;
}
.sidebar-container::-webkit-scrollbar {
  width: 10px;
}
.sidebar-container::-webkit-scrollbar-track {
  background: #052b0c;
}
.sidebar-container::-webkit-scrollbar-thumb {
  background-color: #c24509;
  border-radius: 5px;
  border: 2px solid #073b11;
}
