.top-bar {
  background-color: #c24509;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  box-sizing: border-box;
}

.bar-section {
  display: flex;
  align-items: center;
}

.bar-section.left {
  flex: 1;
  justify-content: flex-start;
}

.bar-section.right {
  flex: 1;
  justify-content: flex-end;
}

.bar-section.center {
  flex: 0;
}

.app-logo {
  height: 54px;
  width: auto;
  cursor: default;
}

button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
