:root {
  --bar-color: #c24509;
  --curve-size: 20px;
}

.top-bar {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  display: flex;
  justify-content: space-between;

  align-items: flex-start;

  padding: 0;
  height: 0;

  box-sizing: border-box;


  overflow: visible !important;
}

.bar-section {
  background-color: var(--bar-color);


  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 25px;

  height: 70px;
  box-sizing: border-box;
}

.bar-section.left {
  border-radius: 0 0 40px 0;
  padding-left: 15px;
  position: relative;
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  filter: drop-shadow(7px 4px 5px rgba(0, 0, 0, 0.2));
}

.bar-section.left::after {
  content: '';
  position: absolute;
  top: 0;
  right: calc(var(--curve-size) * -1);
  width: var(--curve-size);
  height: var(--curve-size);
  background-color: transparent;
  background-image: radial-gradient(circle at bottom right, transparent 70%, var(--bar-color) 71%);
}

.bar-section.left.moved {
  transform: TranslateX(300px);
}

.bar-section.right {
  border-radius: 0 0 0 40px;
  padding-right: 15px;
  position: relative;
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  filter: drop-shadow(-7px 4px 5px rgba(0, 0, 0, 0.2));
}

.bar-section.right::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(var(--curve-size) * -1);
  width: var(--curve-size);
  height: var(--curve-size);
  background-color: transparent;
  background-image: radial-gradient(circle at bottom left, transparent 70%, var(--bar-color) 71%);
}

.bar-section.right.moved {
  transform: TranslateX(-300px);
}

.bar-section.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 90px;
  height: 90px;
  border-radius: 0 0 40px 40px;
  display: flex;
  justify-content: center;

  filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.3));

  align-items: center;
  padding-bottom: 12px;
  box-sizing: border-box;

  overflow: visible !important;
}

.bar-section.center::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(var(--curve-size) * -1);
  width: var(--curve-size);
  height: var(--curve-size);
  background-color: transparent;

  background-image: radial-gradient(circle at bottom left, transparent 70%, var(--bar-color) 71%);
}

.bar-section.center::after {
  content: '';
  position: absolute;
  top: 0;
  right: calc(var(--curve-size) * -1);
  width: var(--curve-size);
  height: var(--curve-size);
  background-color: transparent;

  background-image: radial-gradient(circle at bottom right, transparent 70%, var(--bar-color) 71%);
}

.app-logo {
  height: 70px;
  width: auto;
  cursor: default;
  pointer-events: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.icon-svg {
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform-origin: center; /* Ruota attorno al centro esatto */
}

.icon-original,
.icon-close {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  transform-origin: center;
}

.icon-original {
  opacity: 1;
  transform: scale(1);
}
.icon-close {
  opacity: 0;
  transform: scale(0.5) rotate(-90deg);
}

.bar-section.moved .icon-svg {
  transform: rotate(180deg);
}

.bar-section.moved .icon-original {
  opacity: 0;
  transform: scale(0.5);
}

.bar-section.moved .icon-close {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}
