.top-bar {
  background-color: #C74608;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 0;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Ombreggiatura opzionale */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  box-sizing: border-box;
}

.bar-section {
  display: flex;
  align-items: center;
}

.bar-section.left {
  flex: 1;
  justify-content: flex-start; /* Allinea il tasto a sinistra */
}

.bar-section.right {
  flex: 1;
  justify-content: flex-end; /* Allinea il tasto a destra */
}

.bar-section.center {
  flex: 0; /* Il logo occupa solo il suo spazio naturale */
}

.app-logo {
  height: 54px; /* Adatta l'altezza del logo */
  width: auto;
  cursor: pointer;
}

button {
  background-color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  color: #ff8c00;
}

button:hover {
  background-color: #f0f0f0;
}
